# FastAPI
APP_HOST=0.0.0.0
APP_PORT=8000

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=catalog_db
MYSQL_USER=catalog_user
MYSQL_PASSWORD=catalog_password

# SQLAlchemy
DATABASE_URL=mysql+aiomysql://catalog_user:catalog_password@db:3306/catalog_db